button,
.btn {
  border: none;
  border-radius: 8px;
  box-shadow: none !important;
  font-family: $paragraph-font-family;
  padding: $medium-padding $extra-large-padding;
}

.icon-button.air-button {
  background-color: transparent !important;
  padding: $small-padding $medium-padding;

  &.off-black {
    color: $off-black;

    &.active {
      border-radius: 0;
      padding-bottom: 0;
    }
  }
}
