@import 'global';

#header {
  @include centered-flex-box;
  justify-content: center;
  margin-bottom: $extra-large-margin;
  padding-top: 5vh;

  .day-nav-button {
    cursor: pointer;

    &:disabled {
      color: $light-grey;
      cursor: not-allowed;
    };
  };
};
