@import 'global';

#usage-meter {
  height: calc(8% - 85px);
  margin-top: $extra-large-margin;
  width: 100%;

  #timeline {
    display: flex;
    justify-content: space-between;
  };

  hr { margin: 2px 0 0 0; };
  #usage-entity-container { display: flex; };
};
